*/.gradle/
*/build/
*/app/build/
*/local.properties
android/local.properties
android/captures/
.idea/
*.iml
*.keystore
backend/node_modules/
backend/data.db
backend/data.db-shm
backend/data.db-wal
backend/.env
